# Ignore all files starting with a dot (.)
.*

# Ignore Pipfile.lock
Pipfile.lock

# Track these files (i.e., do NOT ignore them)
!.gitignore
!.github
!README.md
!.streamlit

# Add any other rules as needed