# Ignore all files starting with a dot (.)
.*


# Track these files (i.e., do NOT ignore them)
!.gitignore
!.github
!ROADMAP.md
!README.md
!.dockerignore
!.gitpod.Dockerfile
!.gitpod.yml
!Pipefile
!.Pipefile.lock

# Add any other rules as needed
db/
.streamlit
